# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*.idea
*.iml
*.ipr
*.iws
**/node_modules
**/libs
**/npm-debug.log