@import ../utils/functions
@import ../utils/placeholders

// medium query
//$breakpoints: ('mob-sm': 320px, 'mob-md': 480px, 'mob-lg': 640px, 'tab-sm': 768px, 'tab-lg': 992px, 'desk-sm': 1200px, 'desk-md': 1366px, 'desk-lg': 1600px, 'desk-hd': 1920px)
$breakpoints: ('desk-hd': 1920px, 'desk-lg': 1600px, 'desk-md': 1366px, 'desk-sm': 1200px, 'tab-lg': 992px, 'tab-sm': 768px, 'mob-lg': 640px, 'mob-md': 480px, 'mob-sm': 320px)

// base
$font-size: 1.6rem !default
$line-height: round-float(2.8rem/$font-size, 2) !default
// ===============
$font-size--sm: 1.4rem !default
$line-height--sm: round-float(2.0rem/$font-size--sm, 2) !default
// ===============
$font-size--less: 1.2rem !default
$line-height--less: round-float(1.8rem/$font-size--less, 2) !default

// ===============
$font-size-h1: 3.6rem !default
$line-height-h1: 1.2 !default
$font-size-h1--sm: 2.6rem !default
$line-height-h1--sm: 1.3 !default
// ===============
$font-size-h2: round-float($font-size-h1*0.78, 1) !default
$line-height-h2: round-float(($line-height-h1*1.08),2) !default
$font-size-h2--sm: round-float($font-size-h1--sm*0.85, 1) !default
$line-height-h2--sm: round-float(($line-height-h1--sm*1.08),2) !default
// ===============
$font-size-h3: round-float($font-size-h1*0.61, 1) !default
$line-height-h3: round-float(($line-height-h1*1.2),2) !default
// ===============
$font-size-h4: round-float($font-size-h1*0.5, 1) !default
$line-height-h4: round-float(($line-height-h1*1.33),2) !default
// ===============
$font-size-h5: $font-size !default
$line-height-h5: $line-height !default
// ===============
$font-size-h6: round-float($font-size*0.75, 1) !default
$line-height-h6: round-float($line-height*1.25, 2) !default

$bottom-space: round-float($font-size*$line-height, 1) !default
$bottom-space-sm: round-float($font-size*$line-height*0.5, 1) !default
$bottom-space-md: round-float($font-size*$line-height*1.5, 1) !default
$bottom-space-lg: round-float($font-size*$line-height*2, 1) !default

// цвет бренда
$base-color: tomato
// цвет фона страницы
$bg-color: #444 !default
// цвет фона элементов выделяющихся на страницы
$bg-color-alt: #f3f3f3 !default
// цвет основного текста
$text-color: #262626 !default
// цвет основных заголовков заголовков
$title-color: black !default
// цвет текста светлее основного
$text-color-light: gray !default
// цвет для выделения текста
$text-color-alt: tomato !default
// цвет ссылки
$link-color: blue !default
// цвет линий и границ
$border-color: lightgray !default
// цвет специальных элементов
$mark-color: coral !default

// user content class
// class на контейнере, в котором будет использоваться стилизация
// типографических элементов: списков, таблиц, цытат и т.д.
$user-content: user-content !default

// layout
// отступы слева и справа для всего сайта
$page-layout-space-horizontal: 20px !default
// максимальная ширина сайта
$page-layout-width: 1920px + $page-layout-space-horizontal*2 !default
// минимальные отступы слева и справа у текствого блока
$text-layout-space-horizontal: 40px !default
$text-layout-space-horizontal--md: 30px !default
$text-layout-space-horizontal--sm: 15px !default
// максимальная ширина текстового блока
$text-layout-width: 640px + $text-layout-space-horizontal*2 !default
// минимальные отступы слева и справа у блокоа выходящего за пределы текста
$flood-layout-space-horizontal: 40px !default
// максимальная ширина текстового блока выходящего за пределы текста
$flood-layout-width: 768px + $text-layout-space-horizontal*2 !default

// form
$form-text-color: $text-color-light !default
$form-placeholder-color: lightgray !default
$form-bg-color: white !default
$form-border-color: lightgray !default
$form-border-focus-color: darken($form-border-color, 20%) !default
$form-error-color: red !default
$form-success-color: green !default
$form-bottom-space: 3rem !default
$form-bottom-space--sm: 1.5em !default
$form-gap: 60px !default
// ==================
$form-font-size: 16px
$form-line-height: 24px
$form-input-height: 50px
// ==================
$checkbox-color: tomato
// ==================
$form-input-space-v: 12px
$form-input-space-h: 18px
$select-space-v: 12px
$select-space-h: $form-input-space-h
$select-arrow-width: 40px
$select-arrow-height: 100%

// btn
$btn-bg-color: tomato !default
$btn-bg-hover-color: darken($btn-bg-color, 20%) !default
$btn-text-color: white !default

// table color
$table-text-color: $text-color !default
$table-border-color: tomato !default
$table-bg-color: white !default
$table-text-alt-color: white !default
$table-bg-alt-color: tomato !default

// animation
$animation-speed: 0.2s !default
$animation-speed-mouseleave: 0.35s !default

// fonts style
$font-norm: 'Roboto', sans-serif !default
$font-alt: 'Roboto Slab', serif !default

// ============= обнуление жирности и наклонности шрифта ==============
// ============= использовать, если подключается font-face ==============
=font-reset()
	font:
		weight: normal
		style: normal

// ============= основоной шрифт ==============
=font-normal()
	font:
		family: $font-norm
		weight: 300

=font-bold()
	font:
		family: $font-norm
		weight: 700

=font-italic()
	font:
		family: $font-norm
		weight: 300
		style: italic

=font-bold-italic()
	font:
		family: $font-norm
		weight: 700
		style: italic

// ========== дополнительный шрифт ============
=font-alt()
	font:
		family: $font-alt
		style: normal
		weight: 700

=font-alt-bold()
	font:
		family: $font-alt
		style: normal
		weight: 700

=font-alt-italic()
	font:
		family: $font-alt
		style: italic
		weight: normal

=font-alt-bold-italic()
	font:
		family: $font-alt
		style: italic
		weight: 700
