@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* HEADER
.header__holder
	padding: 10px 0
	+clear

/* logo
.logo
	position: relative
	float: left
	background: url(../../img/logo.png) no-repeat
	width: 220px
	height: 85px
	text-indent: -9999px
	overflow: hidden
	margin: 0 2rem 0 0
	z-index: 5

	a
		display: block
		height: 100%

/* logo end
/* HEADER end